<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clientes</title>
</head>
<body>
    {% if lista_clientes %}
        <ul>
        {% for cl in lista_clientes %}
            <li>{{ cl.nombre }}</li>
            <li>{{ cl.nit }}</li>
            <li>{{ cl.nombre_contacto }}</li>
            <li>{{ cl.telefono }}</li>
            <li>{{ cl.correo }}</li>
            <li>{{ cl.direccion }}</li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No existen clientes.</p>
{% endif %}
</body>
</html>